:root {
  --logo-button-color: #4d5ae5;
  --headers-color: #2e2f42;
  --hero-text-color: #ffffff;
  --text-for-p-color: #434455;
  --text-for-pfooter-secondsection-color: #e7e9fc;
  --text-for-logofooter-bg-ourteam-color: #f4f4fd;
  --hoover-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--headers-color);
  background-color: #ffffff;
}
ul {
  list-style: none;
}
.header {
}
.header-nav {
}

.header-logo {
  color: var(--headers-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03px;
}

.header-logo span {
  color: var(--logo-button-color);
  text-decoration: none;
}
.header-list {
}
.header-item {
}
.header-link {
  color: var(--headers-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02px;
}
.header-list .current {
  color: var(--hoover-color);
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  color: var(--hoover-color);
}

.header-adrlink {
  color: var(--headers-color);
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02px;
}

.header-adrlink:hover,
.header-adrlink:focus,
.header-adrlink:active {
  color: var(--hoover-color);
}
/* HERO SECTION MAKE */
.hero {
  background-color: var(--headers-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 0.07px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--logo-button-color);
  color: var(--hero-text-color);
  cursor: pointer;
}

.hero-btn:active,
.hero-btn:focus {
  background-color: var(--hoover-color);
}

/* ADVANTAGES  */
.advntg {
}
.advntg-title-hide {
  position: absolute;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
}

.advntg-list {
}
.advntg-item {
}
.advntg-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advntg-item-p {
  color: var(--text-for-p-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* EXAMPLES OF WORK  */
.exm {
}
.exm-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
}
.exm-list {
}
.exm-item {
}
.exm-img {
}

/* OUR TEAM */

.team {
  background-color: var(--text-for-logofooter-bg-ourteam-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-list {
}
.team-item {
}
.team-img {
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-item-p {
  color: var(--text-for-p-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

/* FOOTER*/
.footer {
  background-color: var(--headers-color);
}

.footer-p {
  color: var(--text-for-pfooter-secondsection-color);
}

.footer-logo {
  color: var(--text-for-logofooter-bg-ourteam-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03px;
}

.footer-logo span {
  color: var(--logo-button-color);
  text-decoration: none;
}

/*  PORTFOLIO HTML  */
.smain {
}
.smain-title-hidden {
  position: absolute;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
}
.smain-list {
}
.smain-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--text-for-logofooter-bg-ourteam-color);
  color: var(--logo-button-color);
}
.smain-button:active,
.smain-button:focus {
  background-color: var(--hoover-color);
  color: var(--hero-text-color);
}
.smain-list-examples {
}
.smain-item:hover {
}
.smain-image {
}
.smain-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.smain-p {
  color: var(--text-for-p-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
